[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/strider973/psxrecomp.git
	branch = strider2-fixes
[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/strider973/recomp-ui.git
	branch = strider2-fixes
